<header class="scaffold-flex scaffold-justify-between scaffold-items-center">

  <div class="left-side scaffold-flex">
    <a href="#" class="home-link">{{site.product-name}}</a>
    <nav class="nav-links scaffold-flex">
      <a href="#features">Features</a>
      <a href="#fun-facts">Fun Facts</a>
      <a href="{{ '/docs' | relative_url }}">Docs</a>
      <a href="{{site.github}}">GitHub</a>
    </nav>
  </div>

  <div class="right-side nav-links">
    <a href="{{ '/docs' | relative_url }}" class="button button-primary">Get Started</a>
  </div>

</header>
