<header class="scaffold-flex scaffold-justify-between scaffold-items-center">

  <div class="left-side scaffold-flex">
    <a href="{{ '/' | relative_url }}" class="home-link">{{site.product-name}}</a>
    <nav class="nav-links scaffold-flex" aria-label="Main">
      <a href="{{ '/#features' | relative_url }}">Features</a>
      <a href="{{ '/#fun-facts' | relative_url }}">Fun Facts</a>
      <a href="{{ '/docs' | relative_url }}">Docs</a>
      <a href="{{site.github}}">GitHub</a>
    </nav>
  </div>

  <div class="right-side nav-links">
    <a href="{{ '/docs' | relative_url }}" class="button button-primary">Get Started</a>
  </div>

</header>
