<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% if page.overlay %}
    <svg id="scaffold-overlay" xmlns="http://www.w3.org/2000/svg"></svg>
    <button class="scaffold-toggle-btn" onclick="ScaffoldOverlay.toggle()">
      <span class="scaffold-toggle-dot"></span>
      <span id="scaffold-toggle-label">Show layout</span>
    </button>
    <script src="{{ '/assets/js/scaffold-overlay.js' | prepend: site.baseurl }}"></script>
    {% endif %}

  </body>

</html>
